<mat-toolbar color="primary" class="header" [matMenuTriggerFor]="menu">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <span><a routerLink="/">Manager</a></span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="cadastros">Cadastros</button>
</mat-menu>

<mat-menu #cadastros="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="cadastrosProdutos">Produtos</button>
  <button mat-menu-item><a routerLink="/cadastros/ramos">Ramos</a></button>
</mat-menu>

<mat-menu #cadastrosProdutos="matMenu">
  <button mat-menu-item><a routerLink="/cadastros/produtos/complementos">Complementos</a></button>
  <button mat-menu-item><a routerLink="/cadastros/produtos/cores">Cores</a></button>
  <button mat-menu-item><a routerLink="/cadastros/produtos/detalhes">Detalhes</a></button>
  <button mat-menu-item><a routerLink="/cadastros/produtos/fabricantes">Fabricantes</a></button>
  <button mat-menu-item><a routerLink="/cadastros/produtos/tipos">Tipos</a></button>
</mat-menu>

